# Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
.vscode/
*.lock

# Android
android/.gradle/
android/app/build/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# macOS
macos/Pods/
macos/Flutter/Flutter.framework
macos/Flutter/Flutter.podspec

# Windows
windows/flutter/ephemeral/

# Web
web/

# Misc
*.swp
.DS_Store
*.log
